tbody.border tr:hover  {      
    box-shadow: 0 2px 0px rgb(192, 192, 192), 0 4px 4px 0 rgba(221, 221, 221, 0.329);
    border-left: 1px solid rgb(192, 192, 192);    
    border-right: 1px solid rgb(192, 192, 192);  
}   

.red {
    background-color: rgb(255, 227, 227);
    color: rgb(224, 49, 49);
    text-transform: capitalize;
    font-size: 14px;
}

.green {
    background-color: rgb(211, 249, 216);
    color: rgb(47, 158, 68);
    text-transform: capitalize;
    font-size: 14px;
}

.yellow {
    background-color: rgb(255, 243, 219);
    color: rgb(240, 140, 0);
    text-transform: capitalize;
    font-size: 14px;
}

.missingDaysBootstrap {
    font-size: 11px; 
    color: rgb(167, 167, 167); 
    position: relative; 
    left: 40px; 
    font-weight: 500;
}

.missingDaysAngMat {
    font-size: 11px; 
    color: rgb(167, 167, 167); 
    position: relative; 
    left: 50px; 
    font-weight: 500;
}


.fa-ellipsis-v {
    color: rgb(138, 138, 138); 
    font-size: 18px; 
    font-weight: 500;
}

.fa-ellipsis-v:hover {
    color: rgb(65, 65, 65) !important;
}

table {
    width: 95%;
}

.button-more_vert {
    display: none;
}

tr:hover  .button-more_vert {
    display: inline-block;
  }




 

