<ul class="nav flex-column nav-process" >
    <li class="nav-item " style="border-radius: 0px 30px 30px 0px;" routerLinkActive="active"> 
      <a class="nav-link color-black"  [routerLink]="['procesos']">
        <i class="fas fa-tasks" style="margin-right: 15px;"></i> 
        Procesos
      </a>
    </li> 
</ul>

<ul class="nav flex-column nav-general" >
  <li class="nav-item" style="border-radius: 0px 30px 30px 0px;" routerLinkActive="active">
    <a class="nav-link color-black"  [routerLink]="['indicadores']">
      <i class="fas fa-chart-bar" style="margin-right: 15px;"></i>  
      Indicadores
    </a>
  </li>   
</ul>

